* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
}

:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral*/

  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /* background, heading, buttons*/

  --font: 15px;
  --Lexend-Deca: 'Lexend Deca';
  --Big-Shoudlers-Display: 'Big Shoulders Display';
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100dvh;
  align-items: center;
}

.left-card {
  height: 30em;
  width: 19em; 
  background-color: var(--bright-orange);
  position: relative;
  border-radius: 10px 0 0 10px;
}
.middle-card {
  height: 30em;
  width: 19em;
  background-color: var(--dark-cyan);
  position: relative;
}
.right-card {
  height: 30rem;
  width: 19rem;
  background-color: var(--very-dark-cyan);
  position: relative;
  border-radius: 0 10px 10px 0;
}

h1 {
  font-size: 2.5em;
  font-family: var(--Big-Shoudlers-Display);
  color: var(--very-light-gray);
  font-weight: 700;
  position: absolute;
  top: 7rem;
  left: 3rem;
  text-transform: uppercase;
}

p {
  color: var(--transparent-white);
  font-family:var(--Lexend-Deca);
  font-size: var(--font);
  font-weight: 400;
  line-height: 2em;
  width: 220px;
  display: inline-block;
  position: absolute;
  top: 12rem;
  left: 3rem;
}

button {
  background-color: var(--very-light-gray);
  mix-blend-mode: screen;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 25px;
  font-family: var(--Lexend-Deca);
  font-size: var(--font);
  transition: background-color 0.1s,
  color 0.1s;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

button:active {
  background-color: transparent;
  border: 2px solid white;
  color: var(--very-light-gray)
}

img {
  width: 3rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

@media (max-width: 600px) {
 .card {
  display: block;
  height: 100dvh;
 }

 .left-card {
  border-radius: 10px 10px 0 0;
 }

 .right-card {
  border-radius: 0 0 10px 10px;
 }
}


